name: Test venv
on: [push, pull_request]

jobs:
  test:
    name: test ${{ matrix.py }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - Ubuntu
          - Windows
          - MacOs
        py:
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"

    steps:
      - name: Setup python for test ${{ matrix.py }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.py }}
      - uses: actions/checkout@v3
      - name: Upgrade pip
        run: python3 -m pip install -U pip
      - name: Install dependencies
        run: python3 -m pip install -e '.[test]'
      - name: Run pytest
        run: python3 -m pytest
